@import url('https://fonts.googleapis.com/css2?family=Hurricane&family=Roboto:ital,wght@1,100&family=Smooch+Sans:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hurricane', cursive;
    text-align: center;

}

.intro-image {
    background-attachment: fixed;
    background-image: url('../img/img2.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro-image__link a {
    background-color: #98898dc0;
    border: 2px solid #98898d;
    color: #573833;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.intro-image__link a:hover {
    transform: scale(1.2);
}

.intro-text {
    background-color: #473f41c0;
    color: #e0c9cf;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding: 0 15rem;
}

.intro-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.Quality-image {
    background-attachment: fixed;
    background-image: url('../img/img3.jpg');
    background-size: cover;
    background-position: bottom;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image__link a {
    background-color: #847a7d71;
    border: 2px solid #847a7d;
    color: #e2e1e0;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.quality-image__link a:hover {
    transform: scale(1.2);
}

.Quality-text {
    background-color: #b1aaad;
    color: #575153;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding: 0 15rem;
}

.quality-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.footer {
    height: 250px;
    background-color: #88807d;
    color: #ccbda7;
    font-size: 2rem;
    padding-top: 2rem;
}

.footer ul li {
    display: inline-block;
    margin: 1rem;
}

.footer ul li a {
    color: #ccbda7;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #ffffff;
  /*  transform: scale(1.3); */
}

.Origin-image {
    background-attachment: fixed;
    background-image: url('../img/img1.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.origin-image__link a {
    background-color: #535a6a48;
    border: 2px solid #535a6a98;
    color: #68472a;
    display: inline-block;
    font-size: 3rem;
    padding: 3rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.origin-image__link a:hover {
    transform: scale(1.3);
}

.origin-text {
    background-color: #585e68;
    color: #cca55e;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding: 0 15rem;
}

.origin-text__textbox h2 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}